*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*
configstore
scoop
.ssh
.ssh/*

# Vim & NeoVim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/
.config/nvim/plugin/packer_compiled.lua

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace/xcshareddata

# CocoaPods
Pods/

# Atom.io
.atom/packages/save-session
.atom/compile-cache
.atom/storage

# Fish local config
.config/fish/config-local.fish
.config/fish/fish_variables.x86_64
.config/fish/fish_variables
.config/fish/fish_plugins.x86_64
.config/fish/fish_plugins
.config/fish/completions
.config/fish/functions/_*
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fisher.fish
.config/fish/functions/tide.fish
.config/fish/functions/tide/
.config/fish/functions/nvm.fish
.config/fish/conf.d/_*
.config/fish/conf.d/**_**
.config/fish/conf.d/z*
.config/fish/conf.d/fzf*
.config/fish/conf.d/pisces*
.config/fish/conf.d/nvm*
.config/fish/conf.d/puffer_*
.config/fish/conf.d/fish-ssh*

# Karabiner
.config/karabiner/automatic_backups

# Alacritty
.config/alacritty/*.bak

# Folder
.config/Electron
.config/yarn
.config/nextjs-nodejs
.config/gatsby/
.config/github-copilot
.config/simple-update-notifier/
.config/Cypress/
.config/google-chrome/
.config/gcloud
.config/chatgpt-nodejs/
.config/tree-sitter/
.config/.gsd-keyboard.settings-ported
.config/dconf/
.config/evolution/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/ibus/
.config/mimeapps.list
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Code/
.config/menus/
.config/Docker Desktop/
.config/enchant/
.config/Hyper/
.config/create-next-app-nodejs/
.config/gnome-control-center/
.config/htop/
.config/yelp
.config/chatgpt-nodejs/
.config/cni/
.config/dlv/
.docker/
.config/NuGet/
.config/QtProject.conf
.config/Termius/
.config/Thunar/
.config/bspwm/scripts/.sys
.config/cherrytree/
.config/discord/
.config/dockercolorize/
.config/inkdrop/
.config/lazygit/
.config/netcitadel.com/
.config/pavucontrol.ini
.config/powershell/
.config/qt5ct/
.config/qterminal.org/
.config/spicetify/
.config/sqlitebrowser/
.config/systemd/
.config/torbrowser/
.config/xfce4/
.config/znt/
.config/Postman
.config/helm

# Python
__pycache__/
